APP_ENV=development
APP_TIMEZONE=America/Lima
LOG_LEVEL=debug

UID=1000
GID=1000

DB_DRIVER=sqlite
DB_DATABASE=/app/database/database.sqlite

TELEGRAM_BOT_TOKEN=8883370898:AAHawdDCCs8uIXbg-fx-lo7Pd38F8XeSlW8
TELEGRAM_CHAT_ID=7875404293
